body {
    background-color: #87cefa;
}

.table-striped:nth-of-type(odd){
    background-color: #ffffff;
  }
  
.table-striped:nth-of-type(even){
    background-color: #b9b9b9;
}

thead, tbody, tr, td, th { 
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 425px;
    overflow-y: auto;
}

td, th {
    display: flex;
    align-items: center;
    float: left;
}