thead, tbody, tr, td, th { 
    display: block; 
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 350px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 19.2%;
    float: left;
}